/.vs/
/*.suo
/*.Tests/Scripts/WebSharper/
/*.Tests/Content/WebSharper/
/build/
/*/bin/
/*/obj/
/packages/
/tools/packages/
/*.Sample/Content/

bin/
obj/
/.fake/
/paket-files/
/.vscode/
*.user
dist/*
websharper.log
/WebSharper.Highlightjs.Sample/node_modules
/WebSharper.Highlightjs.Sample/build
