<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="Zafir" version="4.0.169.70-beta7" targetFramework="net452" />
  <package id="Zafir.FSharp" version="4.0.169.70-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next" version="4.0.149.53-beta7" targetFramework="net452" />
</packages>